body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

main {
    gap: 50px;
    display: flex;
    width: 950px;
    margin: 10% calc((100% - 950px) / 2);
}

.pictures {
    width: 160px;
    height: 200px;
    margin-left: 20px;
    filter: invert();
}

.pic-background {
    width: 200px;
    height: 200px;
}

.title {  
    color: red; 
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.description {
    color: grey;
    margin-left: 10px;
    margin-top: 30px;
}

.apple {
    background-color: aquamarine;    
}

.university {
    background-color: blue;
}

.users {
    background-color: coral;
}

.arrows {
    background-color: grey;
}