body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    gap: 50px;
    display: flex;
    width: 900px;
    margin: calc((100% - 900px) / 2);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

div {
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {  
    color: red; 
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: grey;
    text-align: left;
    margin-left: 10px;
}

img {
    filter: invert();
}


.apple {
    background-color: aquamarine;
}

.university {
    background-color: blue;
}

.users {
    background-color: coral;
}

.arrows {
    background-color: grey;
}